<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="static/css/analyse.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Analyse</title>
</head>
<body>
    <header>
        <nav class="nav">
            <h1 class="logo">PDD</h1>
            <ul>
                <li><a href="/" class="only-desktop">Home</a></li>
                <li><a href="#" id="logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <input type="file" name="upload-btn" id="upload-btn" accept="image/*">
        <div class="upload-section">
            <div class="upload-banner">
                <img src="static/assets/undraw_image_upload_wqh3.svg" alt="" srcset="">
            </div>
            <div class="upload-info-text">
                <p>Upload Image</p>
            </div>
        </div>
    </main>
    <div class="result-section hidden">
        <div class="back-button">
            <p> 
                <i class="fas fa-arrow-left"></i>
                Upload another image
            </p>
        </div>
        <div class="uploaded-image">
            <img src="" alt="">
        </div>
        <div class="information">

            <div class="row">
                <div class="title">
                    Plant Name
                </div>
                <div class="description" id="plant-name">
                    Plant Name
                </div>
            </div>

            <div class="row">
                <div class="title">
                    Disease Name
                </div>
                <div class="description" id="disease-name">
                    Disease Name
                </div>
            </div>

            <div class="row">
                <div class="title">
                    Symptoms
                </div>
                <div class="description" id="symptoms">
                    Symptoms
                </div>
            </div>

            <div class="row">
                <div class="title">
                    Description
                </div>
                <div class="description" id="description">
                    Description
                </div>
            </div>

            <div class="row">
                <div class="title">
                    Medicine
                </div>
                <div class="description" id="medicine">
                    Medicine
                </div>
            </div>

            

        </div>
    </div>
    <div class="toast"></div>
</body>
<script src="static/js/analyse.js"></script>
</html>
