<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="static/css/try_now.css">
    <title>Try Now</title>
</head>
<body>
    <header>
        <nav class="nav">
            <h1 class="logo">PDD</h1>
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li class="only-desktop"><a href="./try_now.html">Try Now</a></li>
            </ul>
        </nav>
    </header>
    <main class="try-now">
        <div class="filler-image only-desktop">
            <img src="static/assets/undraw_authentication_fsn5.svg" alt="" srcset="">
        </div>
        <div class="form-section">
            <div class="card">
                <input type="email" name="email" id="email" placeholder="Email">
                <input type="password" name="password" id="password" placeholder="Password">
                <a href="#" class="button button-solid" id="login">Login</a>
                <p id="switch-action">
                    Create new acccount
                </p>
            </div>
        </div>
    </main>
    <div class="ball only-mobile" id="ball-1"></div>
    <div class="ball only-mobile" id="ball-2"></div>
</body>
</html>
